*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .item{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }

    .containers{
        display: flex;
        justify-content: space-around;
    }

    .containers .card2{
        flex: 1;
    }
        .card{
        border: 1px solid black;
        border-radius: 10px;
        margin: 5px;
        padding: 5em;
        font-size: 1rem;
    }

    .card2 button{
        background-color: yellow;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
    }

    .card2 p{
        font-size: 2rem;
    }

    .card2{
        display: flex;
        justify-content: space-between;
        border: 1px solid black ;
        border-radius: 10px;
        display: flex;
        height: 100px;
        padding: 1em 14em;
    }
    .card3{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(auto-fill 1fr);
    }