*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

    body{
        height: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .item{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }

    .containers{
        display: flex;
        justify-content: space-around;
    }

    .containers .card2{
        flex: 1;
    }
        .card{
            display: flex;
            flex-direction: column;
            gap: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
        padding: 5em;
        font-size: 1rem;
    }

    .card2 button{
        background-color: yellow;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
    }

    .card2 p{
        font-size: 2rem;
    }

    .card2{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    width: 90%;
    height: 100px;

    }
     .part1{
        display: flex;
        justify-content:space-around ;
    }
    
.card4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card4 h3{
    color: white;
}


.card5{
         display: flex;
         flex-direction: column;
        color:white;
        margin: 10px;
        border: 1px solid black;
        width: 10px;
        justify-content: space-evenly;
        margin-left: 187px;
       
    }
    .card5 h3{
        color: white;
    }

    .card6{
        display: flex;
        flex-direction: column;
       color:white;
       margin: 10px;
       border: 1px solid black;
       width: 100px;
       margin-left: 80px;
   }
   .card6 h3{
       color: white;
   }
   .card7{
    display: flex;
    flex-direction: column;
   color:white;
   
}
   

.card7 h3{
   color: white;
}


    .part2{
        display: flex;
        justify-content:space-around ;
    }
    footer{
background-color: rgb(0, 0, 0);
margin-top: 40px;
width: 100dvw; 
display: flex;
flex-direction: column;
justify-content: space-around;
   }
footer a{
    text-decoration: none;
    color: white;
}
.buy{
    width: 30px;
    height: 30px;
}
.icon{
    padding-left: 1000px;
    margin-top: 40px;
    display: flex;}

.icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    font-size: 1.3rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: #fdfcfc;}